#!/usr/bin/env bash

# cli.Brewfile hash: {{ include "bootstrap/track/cli.Brewfile" | sha256sum }}

if command -v brew &> /dev/null; then
    brew bundle --file={{ joinPath .chezmoi.sourceDir "bootstrap/track/cli.Brewfile" | quote }}
fi
